@page "/"

<h1>CodeCraft_UX</h1>

Welcome to CodeCraft_UX app.
<h6></h6>

<h6>V: 1.0.0</h6>


<form method="post" asp-controller="Account" asp-action="LoginWithGoogle">
    <button type="submit">Se connecter avec Google</button>
</form>

<h6>en cour de developement</h6>