@page "/"

<h1>CodeCraft_UX</h1>

Welcome to CodeCraft_UX app.
<h6></h6>

<h6>V: @CurrentVersion</h6>

@code {
    private Version currentVersion = new Version(1, 0, 0); // Version initiale

    protected override void OnInitialized()
    {
        // Obtenir le numéro de build actuel
        var buildNumber = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version?.Build;
        
        // Augmenter le numéro de build si nécessaire
        if (buildNumber is not null && currentVersion.Build != buildNumber)
        {
            currentVersion = new Version(currentVersion.Major, currentVersion.Minor, buildNumber.Value);
        }
    }

    private string CurrentVersion => currentVersion.ToString();
}
